
@import url("https://use.typekit.net/ukx6enw.css");


body{
    background-color: #f4f4f4;
}

h1{
 font-family: "obviously-wide", sans-serif;
font-weight: 900;
font-style: italic;
text-transform: uppercase;
font-size: 3rem;
color: #273aaa;
text-align: center;
}

h2{
    font-family: "obviously-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #273aaa;
}
#screen {
    position: relative;
    width: 80%;
    aspect-ratio: 16/9;
    border: 10px solid #273aaa;
    margin-left: 8%;
  }
  
  #game {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    overflow: hidden;
  }

  #winscreen{
    position: absolute;
    background-color:#273aaa;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;

  }

  #titlescreen{
    position: absolute;
   background-color: #273aaa;
    width: 100%;
    height: 100%;
    z-index: 800;
    display: flex;
    justify-content: center;

  }

  #playbutton{
    align-self: center;
  }
  

  #startbutton{
    align-self: center;
  }  
  #game_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
   background-color: #f4f4f4;
  }

/*Animation*/

@keyframes falling {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(1000%);
    }
  }


  .fallDown0 {
    animation-name: falling;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .fallDown1 {
    animation-name: falling;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .fallDown2 {
    animation-name: falling;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
   
  .fallDown3 {
    animation-name: falling;
    animation-duration: 6s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes fadeOut{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}

.fading{
    animation: fadeOut 0.5s;
}


/*game sprite containers*/  

.container {
    position: absolute;
    width: 10%;
    aspect-ratio: 1/0.96;
    z-index: 5;
  }

  #scorecontainer{
    position: absolute;
    top: 20px;
left: 20px;
    width: 10%;
    aspect-ratio: 1/0.96;
  }

  #scoretext{
    margin: 0;
    padding: 0;
    color: #273aaa;
    
  }



  /*game sprite id's*/  
  
  #a_sprite1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./assets/IMG_0705.PNG");
    background-size: 100%;
  }

  #a_sprite2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0707.PNG");
    background-size: 100%;
  }
  

  #a_sprite3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0705.PNG");
    background-size: 100%;
  }
  
  #a_sprite4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0707.PNG");
    background-size: 100%;
  }
  
  #a_sprite5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0705.PNG");
    background-size: 100%;
  }
 
  #a_sprite6 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0707.PNG");
    background-size: 100%;
  }
  

  #a_sprite7 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0705.PNG");
    background-size: 100%;
  }
  
  #a_sprite8 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0705.PNG");
    background-size: 100%;
  }
  
  #a_sprite9 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0707.PNG");
    background-size: 100%;
  }
  
  #a_sprite10 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:  url("./assets/IMG_0705.PNG");
    background-size: 100%;
  }
  
/* sprite postions*/

.position0 {
  left: 30%;
  top: -18%;
}

.position1 {
  left: 48%;
  top: -44%;
}

.position2 {
  left: 10%;
  top: -50%;
}

.position3 {
  left: 70%;
  top: -12%;
}

.position4 {
  left: 90%;
  top: -32%;
}

.position5 {
  left: 40%;
  top: -27%;
}

.position6 {
    left: 40%;
    top: -27%;
  }
  

.position7 {
    left: 60%;
    top: -37%;
  }

  .position8 {
    left: 52%;
    top: -15%;
  }

  .position9 {
    left: 34%;
    top: -67%;
  }

  .stop {
    animation-play-state: paused;
  }

  .hidden {
    visibility: hidden;
  }
  
/* styling af knap */  
button{
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #f4f4f4;
    border: none;
    font-family: "obviously-wide", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #273aaa;
}

button:hover{
    scale: 1.2;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 10px;
    }
  }